<!-- 
  Page first opens an ion-modal, from which the user searches for and selects their movie. 
  Then the modal closes, and the user enters the info for this entry, rating and note
 -->

<ion-header>
  <ion-toolbar>
    <ion-title>AddFilm</ion-title>
    <!-- BACK BUTTON -->
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""> BACK </ion-back-button>
  </ion-buttons>
  </ion-toolbar> 
</ion-header>


<ion-grid>
  <section>
    <header>Block Width</header>
    <ion-button expand="full">A block button</ion-button>
  </section>

</ion-grid>