<!-- 
  Page first lets user search for and select their movie.
  Then a modal opens, and the user enters the info for this entry, rating and note, and adds it to storage.
 -->
<ion-header>
  <ion-toolbar>
    <ion-title>Select your film</ion-title>
  </ion-toolbar> 
</ion-header>

<ion-content fullscreen>

  <!-- Takes in input into String "input". -->
  <ion-input class="ion-text-center" [(ngModel)]="input" expand="full" placeholder="Type movie name" (width)=100></ion-input>
  <!-- search method populates array with results from API. does nothing if input is blank. -->
  <ion-button class="ion-text-center" expand="full" label="btnsearch" text (click)="search()" (width)=100 >Search</ion-button>

<ion-list results>
  <!-- For each film, showwith the poster on the left, and the info on the right -->
  <div *ngFor="let film of filmData" style="border-style: none;">
    <ion-item (click)="select(film.imdbID, film.Title, film.Year, film.poster)">
        <!-- Sub grid -->
        <!-- Show poster thumbnail -->
            <ion-thumbnail slot="start">
              <img src={{film.Poster}}> 
            </ion-thumbnail> 
        <!-- label containing details -->
            <ion-label>
              <!-- Movie name (year) -->
            <h2>{{film.Title}} ({{film.Year}})</h2>
          </ion-label>
    </ion-item>
  </div>
</ion-list>

</ion-content>