
<ion-header>
  <ion-toolbar>
    <ion-title>MyList</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content label="results" fullscreen>

  <ion-list>
    <!--For each film, showwith the poster on the left, and the info on the right -->
    <div *ngFor="let film of filmData" style="border-style: none;">
      <ion-item>
          <!-- Sub grid -->
          <!-- Show poster thumbnail -->
              <ion-thumbnail slot="start">
                <img src={{film.Poster}}> 
              </ion-thumbnail> 
          <!-- label containing details -->
              <ion-label>
                <!-- Movie name (year) -->
              <h2>{{film.Title}} ({{film.Year}})</h2>
               <!-- Myrating/5 - watched DateWatched -->
              <p>{{film.MyRating}}/5 - Watched {{film.DateWatched}}</p>
              <p>{{film.MyNote}}</p>
            </ion-label>
      </ion-item>
    </div>
  </ion-list>

</ion-content>
